/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Gem builds
pkg

# Don't include your lock file
Gemfile.lock

# Don't include Rubymine config
.idea
